*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}
form{
    height: max-content;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 5px 15px 15px rgba(0, 0, 0, 0.4);
}
input{
    border: 1px solid grey;
    margin: 8px 0;
    padding: 4px 0;
    border-radius: 4px;
}
input:focus{
    outline: none;
}
.btns{
    margin:5px 0 ;
    cursor: pointer;
    border: none;
    padding: 10px;
    text-align: center;
}
label{
}
